---
interface Props {
  title: string;
  version?: string;
}
const { title, version } = Astro.props;
---
<div class="schem">
  <div class="schem-head"><span>{title}</span>{version && <span>{version}</span>}</div>
  <slot name="svg" />
</div>
